article {
    padding: 1rem 2rem !important;
    @media (max-width: 64rem) {
        padding: 1rem !important;
    }
}

article .title {
    position: relative;
}

@media (min-width: 64rem) {
    article h1::before {
        content: ".";
        position: absolute;
        padding: 0;
        left: -1rem;
        top: 0.6rem;
        font-size: 1rem;
        font-weight: 100;
        border-radius: 1rem;
        background-color: var(--primary-color);
        color: var(--primary-color);
    }
}

article img {
    width: 100% !important;
    height: auto;
    border-radius: var(--border-rounded);
}
