main:has(article) {
    nav {
        margin: 0 0 0.5rem !important;
    }
}

article {
    padding: 1rem 2rem !important;
    @media (max-width: 64rem) {
        padding: 1rem !important;
    }
}

article .length-wrapper {
    display: flex;
    gap: 0.5rem;
    color: muted;
    margin: 0.5rem 0;
}

article .length-wrapper div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

article .length-wrapper p {
    color: var(--muted-color);
    display: inline;
    margin: 0;
}

article .length-wrapper svg {
    color: white;
    background-color: var(--muted-background-color);
    padding: 0.2rem;
    border-radius: 0.25rem;
}

article .meta {
    display: flex;
    gap: 1rem;
}

article .meta svg {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    border-radius: var(--border-rounded);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

article .meta section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

article img {
    width: 100% !important;
    height: auto;
    border-radius: var(--border-rounded);
}
