article {
    padding: 1rem 2rem !important;
    @media (max-width: 64rem) {
        padding: 1rem !important;
    }
}

article .title {
    position: relative;
}

@media (min-width: 64rem) {
    article h1::before {
        content: ".";
        position: absolute;
        padding: 0;
        left: -1rem;
        top: 0.7rem;
        font-size: 1rem;
        font-weight: 100;
        border-radius: 1rem;
        background-color: var(--primary-color);
        color: var(--primary-color);
    }
}

article img {
    width: 100% !important;
    height: auto;
    border-radius: var(--border-rounded);
}

article a {
    color: var(--primary-color);
    transition: all 0.1s ease-out;
    text-decoration-style: dashed;
}

article a:hover {
    background-color: var(--secondary-background-color);
}

article ol {
    padding-left: 1.5rem;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
}
