---
import Base from "@/layouts/Base.astro";
---

<Base>
  <div class="card">
    <h1>Welcome home :3</h1>
    <p><strong>Note: I've been busy lately so I'm not sure when this will be built...</strong></p>
  </div>
</Base>
