---
import PostMeta from "@/components/reusable/PostMeta.astro";
import Base from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog", ({ data }) => !data.draft);
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const rendered = await post.render();
const len = post.body.split(" ").length;
const time = Math.floor(len / 130);
---

<Base>
    <article class="card">
        <div class="length-wrapper">
            <div>
                <Icon name="paragraph" />
                <p>{len} words</p>
            </div>
            <div>
                <Icon name="clock" />
                <p>{time} minute(s)</p>
            </div>
        </div>
        <h1 class="title">{post.data.title}</h1>
        <PostMeta post={post} />

        <rendered.Content />
    </article>
</Base>
