---
import Base from "@/layouts/Base.astro";
---

<Base>
    <div class="card" style="margin-inline: auto;">
        <div style="width: 40%; margin-inline: auto;">
            <h2>What are you looking for?</h2>
            <img
                src="/404.jpg"
                alt="404 image"
                style="width: 100%; border-radius: var(--border-rounded);"
            />
        </div>
    </div>
</Base>
