---

---

<footer>
  <div class="card"><i>All lefts reserved 2025</i></div>
</footer>

<style>
  footer {
    bottom: 1rem;
    background-color: var(--card-background-color);
    text-align: center;
    margin-inline: auto;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: var(--max-page-width);
  }
</style>
