---

---

<footer>
  <div class="card"><i>All lefts reserved 2025</i></div>
</footer>

<style>
  footer {
    bottom: 1rem;
    background-color: var(--card-background-color);
    text-align: center;
    margin-inline: auto;
    border-top-right-radius: var(--border-rounded);
    border-top-left-radius: var(--border-rounded);
    display: block;
    width: 100%;
  }
</style>
