---
import type { CollectionEntry } from "astro:content";
type BlogEntry = CollectionEntry<"blog">;

const { posts = [] }: { posts?: BlogEntry[] } = Astro.props;
---

<ul class="posts card">
  {
    posts.map((post) => (
      <li class="post">
        <a class="ghost" href={`/post/${post.slug}`}>
          <div class="title">{post.data.title}</div>
          <ul class="tags">
            {post.data.tags.map((tag) => (
              <li class="tag"> #{tag.at(0)?.toUpperCase() + tag.slice(1).replace("-", " ")}</li>
            ))}
          </ul>
        </a>
      </li>
    ))
  }
</ul>

<style is:inline>
  .posts {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    max-width: calc(var(--max-page-width));
    padding: 1rem 0.5rem;
  }

  .post {
    display: flex;
    flex-direction: row;
    padding: 1px 0.5rem;
  }

  .post a {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tags {
    display: inline;
    list-style: none;
    font-weight: 400;
    color: var(--muted-color);
  }

  .tag {
    display: inline;
  }
</style>
