---
import { Icon } from "astro-icon/components";
import Menu from "./reusable/Menu.astro";
---

<Menu>
    <fragment slot="content" class="menu card">
        <ul class="palettes">
            <li>Anemo</li>
            <li>Geo</li>
            <li>Electro</li>
            <li>Dendro</li>
            <li>Hydro</li>
            <li>Pyro</li>
            <li>Cryo</li>
        </ul>
        <br />
        <div>
            <div id="themeToggler">
                <div class="dark-only">
                    <div class="theme-icon ghost">
                        <Icon name="moon" width="1.5em" height="1.5em" />
                        <p>Dark</p>
                    </div>
                </div>
                <div class="light-only">
                    <div class="theme-icon ghost">
                        <Icon name="sun" width="1.5em" height="1.5em" />
                        <p>Light</p>
                    </div>
                </div>
            </div>
        </div>
    </fragment>

    <fragment slot="toggle">
        <Icon name="palette" height="1.5em" width="1.5em" />
    </fragment>
</Menu>

<style>
    .menu {
        display: flex;
        position: absolute;
        top: 1.125rem;
        left: -7rem;
        flex-direction: column;
        width: 10rem;
        background-color: var(--card-background-color);
    }

    .palettes {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-weight: bold;
        margin: 0;
        padding-left: 0;
    }

    .palettes li {
        display: flex;
        align-items: center;
        padding: 0.7rem 0.5rem;
        border-radius: var(--border-rounded);
    }

    .palettes li:hover {
        cursor: pointer;
        background-color: var(--secondary-background-color);
    }

    .theme-icon {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        gap: 0.6rem;
    }
</style>

<script>
    document.querySelectorAll(".palettes li").forEach((li) => {
        li.classList.add("ghost");
        const color = `var(--${li.innerHTML.toLowerCase()}-primary)`;

        const bar = document.createElement("span");
        bar.style.display = "inline-block";
        bar.style.width = "1.5rem";
        bar.style.height = "1.5rem";
        bar.style.backgroundColor = color;
        bar.style.marginRight = "0.5rem";
        bar.style.borderRadius = "50%";
        li.prepend(bar);
    });
</script>
