---

---

<h1>I'll build this site when I'm free ♥️</h1>

<style>
  body {
    background-image: url("bg.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
  }
  h1 {
    width: 24rem;
    color: rgb(255, 255, 255);
    margin: 12rem 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    position: absolute;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 12px;
    backdrop-filter: blur(3px);
    border: solid rgb(255, 255, 255, 0.1) 1px;
  }

  @media (max-width: 1028px) {
    h1 {
      width: 20rem;
    }
  }

  @media (max-width: 864px) {
    body {
      background-position: calc(100% + 400px);
    }
  }
</style>
