---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

import "@/styles/global.css";
import "@/styles/themes.css";
import "@/styles/article.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Morax"
            href="/rss.xml"
        />
        <meta name="generator" content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>Morax</title>
        <meta
            name="description"
            content="A personal stash of tech notes, security experiments, and things I don't want to forget."
        />
        <!-- Theme and view transition stuff -->
        <script is:inline type="module" src="/js/barba.js"></script>
    </head>
    <body data-barba="wrapper">
        <main>
            <Navbar />
            <div class="banner">
                <img class="banner-image" id="heroBanner" alt="Banner image" />
            </div>
            <div
                id="root"
                data-barba="container"
                data-barba-namespace="default"
            >
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>

<script>
    // Theme stuff
    // --- Start ---
    const root = document.documentElement;
    const savedTheme = localStorage.getItem("theme");

    if (savedTheme === "light" || savedTheme === "dark") {
        root.classList.add(savedTheme);
    } else {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            root.classList.add("dark");
        } else {
            root.classList.add("light");
        }
    }

    document.getElementById("themeToggler")?.addEventListener("click", () => {
        if (root.classList.contains("light")) {
            root.classList.replace("light", "dark");
            localStorage.setItem("theme", "dark");
        } else {
            root.classList.replace("dark", "light");
            localStorage.setItem("theme", "light");
        }
    });
    // --- End ---

    // Palette stuff
    // --- Start ---
    const savedPalette = localStorage.getItem("palette");
    let banner = document.getElementById("heroBanner") as HTMLImageElement;
    if (savedPalette) {
        root.classList.add(savedPalette);
        banner.src = `/banners/${savedPalette}.jpg`;
    } else {
        // Default anemo palette
        root.classList.add("anemo");
        banner.src = "/banners/anemo.jpg";
    }

    const paletteItems = document.querySelectorAll(".palettes li");
    const paletteClasses = [
        "anemo",
        "geo",
        "electro",
        "dendro",
        "hydro",
        "pyro",
        "cryo",
    ];

    paletteItems.forEach((item) => {
        item.addEventListener("click", () => {
            const paletteValue = item.textContent.toLowerCase().trim();
            paletteClasses.forEach((paletteClass) => {
                root.classList.remove(paletteClass);
            });
            root.classList.add(paletteValue);
            banner.src = `/banners/${paletteValue}.jpg`;
            localStorage.setItem("palette", paletteValue);
        });
    });
    // --- End ---
</script>
