---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Morax</title>
    <meta
      name="description"
      content="A personal stash of tech notes, security experiments, and things I don't want to forget."
    />
    <!-- Theme and view transition stuff -->
    <script is:inline type="module" src="/js/theme.js" ></script>
    <script is:inline type="module" src="/js/barba.js"></script>
  </head>
  <body data-barba="wrapper">
    <main>
      <Navbar />
      <div id="root" data-barba="container" data-barba-namespace="default">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
